<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.razytech.razynet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.RazyNetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.maintransaction.redeempoints.RedeemListPointsFragment"></activity>
        <activity android:name=".gui.updateprofile.UpdateProfileFragment" />
        <activity android:name=".gui.porfile.ProfileFragment" />
        <activity android:name=".gui.walletpage.WalletFragment" />
        <activity android:name=".gui.pointhistory.PointsHistoryFragment" />
        <activity android:name=".gui.notifications.NotificationsFragment" />
        <activity android:name=".gui.maintransaction.transfer.TransferFragment" />
        <activity android:name=".gui.maintransaction.redeem.RedeemListFragment" />
        <activity android:name=".gui.maintransaction.MainTransactionFragment" />
        <activity android:name=".gui.addwallet.AddWalletFragment" />
        <activity android:name=".gui.treepage.TreeFragment" />
        <activity android:name=".gui.homepage.HomeFragment" />
        <activity
            android:name=".gui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.mainpage.MainpageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.verificationcode.VerifyCodeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>